<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper flex_align_justify">
      <div class="terms_service">
        <div class="tc_item tc_head flex_align_justify">
          <div class="icon flex_align_justify">
            <img
              src="../../assets/images/terms-and-conditions.png"
              alt="Not Available"
            />
          </div>
          <div class="text">
            <h2>Terms and Conditions</h2>
            <p>Last updated on October 02 2023</p>
          </div>

          <p class="close-button" (click)="callFunctionInLoanDetails()">
             &times;
          </p>
        </div>
        <div class="tc_item tc_body">
          <ol>
            <li>
              <h3>1. Terms of use</h3>
              <p>
                The Borrower agrees to repay the loan in installments as specified in the repayment schedule provided by the Lender
              </p>
            </li>
            <li>
              <h3>2. Tenure rights</h3>
              <p>
                The Borrower should limit the tenure to 36 months; any more will result in application rejection
              </p>
            </li>
            <li>
              <h3>3. Privacy Policy</h3>
              <p>
                The Lender shall collect and use the Borrower's personal information in accordance with
                 applicable privacy laws and the Lender's Privacy Policy
              </p>
            </li>
            <li>
              <h3>4. Judiction</h3>
              <p>
                This Agreement shall be governed by and construed in accordance with the laws of
                 India, and any disputes shall be subject to the exclusive jurisdiction 
                 of the courts of India
              </p>
            </li>
            
          </ol>
        </div>
        <!-- <div class="tc_item tc_foot flex_align">
          <button class="decline_btn">Decline</button>
          <button class="accept_btn">Accept</button>
      </div> -->
      </div>
    </div>
  </body>
</html>
