.container{
    margin-left: 200px;
    margin-top: 60px;
    height: 1500px;
    overflow: scroll;
}
.pending{
    background-color: orange;
    color: black;
    border-radius: 8px;
    color: rgb(14, 20, 20);
    font-style: inherit;
    font-size: medium;
}
.rejected{
    background-color: red;;
    color: white;;
}
.accepted{
    background-color: green;
    color: aliceblue;
}
.backbtn{
    background-color: rgb(225, 236, 225);
    margin-top: 20px;
    border-radius: 50%;
    border-color: black;
       
   }
   .card:hover{
    box-shadow: 10px 10px 10px 10px grey;
    background-color: beige;
    border: 1px solid rgb(13, 0, 255);
    
   }
  